.container_img {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    width: 100%;
    border-radius: .5rem;
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.mynavbar {
    background-color: #e26d5c;
    height: 100px;
    position: relative;
}
.container_search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.container_search input {
    outline: none;
    padding: .5rem;
    background: none;
    border: none;
    border-bottom: 1.5px solid #333;
    color: #333;
}
.container_search input::placeholder {
    color: #fff;
    font-size: clamp(.8rem, 2.5vw, 1rem);
}
.search{
    background-color: transparent !important;
    padding: 0 !important;
}
.icon_menu{
    display: none;
}
.responsive_menu{
    display: none;
}
/* Aplica a todos los botones de mis componentes*/
button {
    background-color: #333;
    color: #fff;
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: clamp(.9rem, 2.5vw, 1.1rem);
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .img {
        height: 100%;
        width: 20%;
    }
    .icon_menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
        height: 100%;
    }
    .icon_menu svg{
        cursor: pointer;
    }
    .icon_menu span{
        color: #333;
        font-weight: 600;
    }
    .link {
        text-decoration: none;
    }
    .menu {
        display: none;
    }
    .mynavbar {
        height: 70px;
    }
    .responsive_menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background: #e26d5c;
        width: 70%;
        height: 250px;
        right: 0;
    }
}
